<div class="container main-container">
    <h3>Interpolation</h3>

    <p>O número de cliques é {{contadorClique}}</p>

    <br>
    <br>

    <h3>Property Binding</h3>

    <button class="btn btn-info" [disabled]="contadorClique >= 10 ">Info</button>
    <br><br>

    <img [src]="urlImagem" height="50px" width="50px" />


    <br><br>
    <h3>Event Binding</h3>

    <button class="btn btn-warning" (click)="adicionarClique()" [disabled]="contadorClique > 10">Clique</button>&nbsp;

    <button class="btn btn-info" (click)="zerarContador()" [disabled]="contadorClique < 10">Zerar contador</button>

    <br><br>

    <h3>Two Way Binding</h3>
    <br>
    <!-- <input type="text" (keyup)="keyUp($event)" placeholder="Digite seu nome">
    <br>
    <br>
    <label>Seu nome é: {{nome}}</label> -->
    <!-- 
    <input type="text" [ngModel]="nome" (ngMOdelChange)='nome = $event' placeholder="Digite seu nome">

    <label>Seu nome é: {{nome}}</label> -->

    <input type="text" [(ngModel)]="nome" placeholder="Digite seu nome">
    <br>
    <br>
    <label [ngClass]="nome">Seu nome é: {{ nome }}</label>
</div>